@theme {
    --text-xs: 0.7rem;  /* 11.2px */
    --text-sm: 0.8rem;  /* 12.8px */
    --text-base: 0.9rem; /* 14.4px */
    --text-lg: 1rem;    /* 16px */
    --text-xl: 1.125rem; /* 18px */
    --text-2xl: 1.25rem; /* 20px */
    --text-3xl: 1.5rem;  /* 24px */
}