.git
.gitignore
.vscode
.idea

dist-release
tmp

frontend/node_modules
frontend/src
frontend/docs
frontend/.vite

backend/.venv
backend/__pycache__
backend/.pytest_cache
backend/.mypy_cache

**/__pycache__
**/.DS_Store

