.alert {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  line-height: 1.375;
}

.alert-error {
  color: var(--color-red-500);
}

.alert-warning {
  color: var(--color-yellow-600);
}

.alert-info {
  color: var(--color-blue-600);
}

.alert-success {
  color: var(--color-green-600);
}

.dark .alert-error {
  color: var(--color-red-400);
}

.dark .alert-warning {
  color: var(--color-yellow-400);
}

.dark .alert-info {
  color: var(--color-blue-300);
}

.dark .alert-success {
  color: var(--color-green-400);
}
