/* Базовый класс */
.btn {
  @apply font-mono font-medium cursor-pointer rounded-sm;
}

.btn:disabled {
  @apply opacity-50 cursor-default;
}

/* Размеры */
.btn-xs {
  @apply px-1 py-0 text-xs;
}

.btn-sm {
  @apply px-2.5 py-1 text-sm;
}

.btn-base {
  @apply px-3 py-1.5 text-sm;
}

.btn-lg {
  @apply px-4 py-2 text-base;
}

/* Основные стили */
.btn-primary {
  @apply bg-neutral-800 text-white focus:ring-2 focus:ring-neutral-400 
         dark:bg-neutral-200 dark:text-neutral-900 dark:focus:ring-neutral-300;
}

.btn-secondary {
  @apply border border-neutral-300 bg-neutral-100 text-neutral-700 shadow-sm 
         dark:border-neutral-600 dark:bg-neutral-700 dark:text-neutral-200;
}

.btn-danger {
  @apply bg-red-600 text-white focus:ring-2 focus:ring-red-400 
         dark:bg-red-400 dark:text-neutral-900 dark:focus:ring-red-300;
}

.btn-toolbar {
  @apply text-neutral-700 dark:text-neutral-200 hover:bg-neutral-200 dark:hover:bg-neutral-700
         px-2 py-1 text-sm rounded-sm;
}